.Gallery{
    background-image: radial-gradient(circle at 50% 0, #fbfdfd, #f5f9fa 76%);
    padding: 20px;
    box-shadow: 0px 5px 24px #656F7C29;
    border-radius: 8px;  
    margin: 20px; 
		@media(max-width:992px){
			padding: 8px !important;
		}
	.padding_grid{
		@media(max-width:992px){
			padding: 0 !important;
		}
	}  
    .ServiceHeader{
        display: block;
        text-align: center;
        position: relative;
                &::after{
            content:" ";
            position: absolute;
            background-color: #e51937;
            width: 65px;
             height: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 48%;
            bottom: -15px;
              @media(max-width:992px){
                left: 38%;
            }
}
    h1{
        text-transform: capitalize;
        font-size: 38px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #2d2d2d;
        position: relative;
            p{
         margin: 15px 0 0;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: center;
        color: #2d2d2d;
            }
        }
    }

    .a{
        fill: #e51937;
    }
    
    .ServiceBody{
        margin-top: 3rem;
    	/****************Style Gallery******************************** */
	.lightGallery {
		padding: 1.5rem  1.5rem 1.5rem  1.5rem !important;
	}
	.flexGallery {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
	}
	.imgGallery{
		// padding:'15px',
		position: relative;
		height: 100%;
	}
	.postionGallery {
		position: relative;
		margin-right: 1rem;
	}
	.overlayImg {
		position: absolute;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000000bf;
		cursor: pointer;
		width: 100%;
		height: 100%;
		flex-direction:column;
	}
 
    .widthGrid{
             flex: 1 0 20% !important;
             @media(max-width:1200px){
                flex: 1 0 23% !important;  
             }
             @media(max-width:992px){
                flex: 1 0 40% !important;  
             }
    }
	.textOverlay{
		color: #fff;
		font-size: 21px;
		text-transform: capitalize;
		margin: 0;
	}


}

}

   .btnGallery{
  border-radius: 4px;
  box-shadow: 0 2px 7px 0 rgba(0, 132, 255, 0.19);
  background-color: #e51937;
    padding: .7rem 2rem;
display: block;
margin: auto;
color: #fff
    }