.Recently{
    background-color: #f5f6f7;
     padding:35px 35px 35px 35px;
     margin-bottom: 2rem;
      @media(max-width:992px){
       padding: 35px 10px 35px 10px;
                
            }
     .flexCat{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
      h1{
            font-size: 24px;
            font-weight: 500;
            color: #000;
            font-size: 24px;
            font-weight: 500;
            color: #000;
            display: flex;
            width: 50%;
            justify-content: start;
            align-items: center;
            @media(max-width:992px){
                font-size: 14px;  
            }
        }
        a{
            font-size: 21px;
            font-weight: 500;
            color: #424a63;
            text-decoration: underline;
            @media(max-width:992px){
                font-size: 14px;  
            }
        }
        .textIcon{
        
            margin-right: 5px;
        }
    }
}