.bgWrapper{
	background: radial-gradient(closest-side at 50% 0%, rgba(251, 253, 253, 1) 0%, rgba(245, 249, 250, 1) 100%);
}

.container{
	padding: 100px 0;
	margin: 0 auto;
	width: 75%;
	header{
		text-align: center;
		position: relative;
		margin-bottom: 80px;
		h2{
			font-size: 38px;
			font-weight: 600;
			color: #2D2D2D;
			margin-bottom: 17px;
		}
		p{
			font-size: 18px;
			color: #2D2D2D;
		}

		&::after{
			content: '';
			position: absolute;
			bottom: -18px;
			left: 50%;
			transform: translateX(-50%);
			width: 65px;
			height: 3px;
			background-color: #E51937;
		}
	}
	
	.cardsContainer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 80px;
		.cardItem{
			text-align: center;
			width: 33.33%;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.cardIcon{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 2px dashed rgba(229, 25, 55, 1);
				box-shadow: 0px 2px 32px rgba(224, 236, 238, 1);
				display: flex;
				justify-content: center;
				align-items: center;
				margin:0 auto;
			}
			.cardContent{
				margin-top: 26px;
				h3{
					font-size: 21px;
					font-weight: 500;
					color: #2D2D2DCC;
					margin-bottom: 21px;
				}
				p{
					font-size: 18px;
					color: rgba(45, 45, 45, 0.6);
				}
			}
		}
	}
}