// .wrapper {
//   border-radius: 4px;
//   box-shadow: 0 2px 12px 0 rgba(215, 221, 240, 0.49);
//   background-color: #fff;
//   margin-bottom: 30px;

.auctionGrid {
  display: flex;
  justify-content: space-between;
  .auctionDetails {
    border-radius: 8px;
    flex: 1;
    padding-bottom: 15px;
    .auctionDetailsHeader {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 2px solid #ededed;
      padding: 30px 22px 30px 22px;

      h4 {
        color: #404040;
        text-transform: uppercase;
        margin: 0;
        font-weight: bold;
      }

      img {
        cursor: pointer;
      }
    }
    .auctionDetailsBody {
      padding: 0px;

      .auctionAccordionHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 2px solid #ededed;
        h4 {
          color: #404040;
          font-size: 16px;
          margin: 0;
          font-weight: bold;
        }
      }
      .auctionAccordionBody {
        p {
          color: #404040;
          font-size: 14px;
          line-height: 1.8;
          margin: 14px 0;
        }
      }
    }
  }
}
// }
