/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SPPro";
  src: url("/public/fonts/sf-pro/SFPRODISPLAYREGULAR.OTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

